/*-- File version 0.0.0.18 from 2013.04.09 --*/
/*-- Custom style for ejs grid --*/

div.ejsgrid.ui-dialog-content.ui-widget-content
{
    padding:10px;
}
div.ejsgrid
{
    overflow:auto;
}

div.ejsgrid-header
{
    padding:0px;
    margin:0px;
    color:white;
    position:relative;
}

div.ejsgrid-header table
{
    background: #F9F9F7;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iI2YyZjJmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2UxZTFkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2M2YzdjOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, #F9F9F7 0%, #F2F2F0 25%, #E1E1DF 50%, #C6C7C9 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F9F9F7), color-stop(25%,#F2F2F0), color-stop(50%,#E1E1DF), color-stop(99%,#C6C7C9));
    background: -webkit-linear-gradient(top, #F9F9F7 0%,#F2F2F0 25%,#E1E1DF 50%,#C6C7C9 99%);
    background: -o-linear-gradient(top, #F9F9F7 0%,#F2F2F0 25%,#E1E1DF 50%,#C6C7C9 99%);
    background: -ms-linear-gradient(top, #F9F9F7 0%,#F2F2F0 25%,#E1E1DF 50%,#C6C7C9 99%);
    background: linear-gradient(top, #F9F9F7 0%,#F2F2F0 25%,#E1E1DF 50%,#C6C7C9 99%);
    border-collapse:collapse;
    padding:0px;
    margin:0px;
}

div.ejsgrid-header table td div.ui-resizable-e
{
    cursor:col-resize;
}

div.ejsgrid-header table td div.ui-resizable-e:hover
{
    background-color:#C0C0C0;
}

div.ejsgrid-header table td
{
    padding:0px;
    text-align:left;
    color:black;
    font-weight: bold;
    vertical-align: middle;
    border-left: 2px solid #CCC;
    border-right: 2px solid #CCC;
    border-top: 1px solid #B0B0B0;
    border-bottom: 1px solid #B0B0B0;
}

div.ejsgrid-header table td div.col
{
    overflow:hidden;
}

div.ejsgrid-header table td div.col.orderable
{
    cursor:pointer;
}

div.ejsgrid-header table td div.col.active
{
    background-color: #FFFFCC!important;
    color: black;
}

div.ejsgrid-header table td div.col.hover
{
    background-color: #CCFFCC!important;
    color: black;
}

div.ejsgrid-header table td div.col div.text
{
    padding:3px 5px;
}

div.ejsgrid-header table tr.filter td div.col div.text
{
    margin:-3px -5px;
}

div.ejsgrid-header table tr.filter td div.col[colname=Save] div.text
{
    margin:0px;
}

div.ejsgrid-header table tr.filter td div.col div.text div.control
{
    margin-right:55px;
}

div.ejsgrid-header table tr.filter td div.col div.text div.control.noconditions
{
    margin-right:0px;
}

div.ejsgrid-header table tr.filter td div.col div.text input,
div.ejsgrid-header table tr.filter td div.col div.text select
{
    box-sizing:border-box;
    width:100%;
}

div.ejsgrid-header table tr.filter td div.col div.text div.conditions
{
    float:right;
}

div.ejsgrid-header table tr.filter td div.col div.text select.conditions
{
    width:50px;
}

div.ejsgrid-header table tr.filter td div.col input.select
{
    cursor:pointer;
    -webkit-appearance: menulist-button;
    background-color: #ffffff;
}

div.ejsgrid-header table tr.filter td div.col div.check-list
{
    background-color:white;
    padding:5px;
    position:absolute;
    border:1px solid black;
    white-space:nowrap;
    text-align:left;
    overflow:auto;
    max-height:200px;
    display:none;
    z-index:2;
}

div.ejsgrid-header table tr.filter td div.col div.check-list dl
{
    margin:0px;
}

div.ejsgrid-header table tr.filter td div.col div.check-list dd
{
    padding-left:15px;
}

div.ejsgrid-header table tr.filter td div.col div.check-list label
{
    display:block;
    float:none;
}

div.ejsgrid-header table tr.filter td div.col div.check-list label span,
div.ejsgrid-header table tr.filter td div.col div.check-list label input
{
    display:inline-block;
    float:none;
    width:auto;
    vertical-align:middle;
}

div.ejsgrid .icon
{
    background-position:left center;
    display: inline-block;
    height: 16px;
    width:auto;
    padding-left:16px;
    background-repeat: no-repeat;
    line-height:16px;
    text-decoration:none;
    color:#333333;
}

div.ejsgrid a.icon:hover
{
    text-decoration:underline;
}

div.ejsgrid .icon.text
{
    padding-left:22px;
}

div.ejsgrid a.save
{
    background-image: url('images/icons/small/disk_blue.png');
}

div.ejsgrid a.edit
{
    background-image: url('images/icons/small/edit.png');
}

div.ejsgrid a.remove
{
    background-image: url('images/icons/small/delete2.png');
}

div.ejsgrid a.insert
{
    background-image: url('images/icons/small/add.png');
}

div.ejsgrid a.refresh
{
    background-image: url('images/ejs/refresh.png');
}

div.ejsgrid a.filter
{
    background-image: url('images/ejs/settings.png');
}

div.ejsgrid a.check
{
    background-image: url('images/ejs/check.gif');
}

div.ejsgrid a.cross
{
    background-image: url('images/ejs/cross.gif');
}

div.ejsgrid span.loading
{
    background-image: url('images/loading.gif');
}

table.ejsgrid
{
    border-collapse:collapse;
    border:none;
    padding:0px;
    margin:0px;
}

table.ejsgrid td
{
    padding:5px;
    border-top: 1px solid #B0B0B0;
    border-bottom: 1px solid #B0B0B0;
    border-left: 2px solid #D6D6D6;
    border-right: 2px solid #D6D6D6;
    background-color:white;
    text-align:left;
}

table.ejsgrid td.pager
{
    border:none;
    position:relative;
    padding:0px;
}

table.ejsgrid td div.td
{
    overflow:hidden;
}

table.ejsgrid div.pager
{
    background-color: #FDF7EF;
    border-top: 1px solid #B0B0B0;
    border-bottom: 1px solid #B0B0B0;
    border-left: 2px solid #D6D6D6;
    border-right: 2px solid #D6D6D6;
    overflow:hidden;
    padding:5px;
    margin-left:-1px;
    margin-right:-1px;
}

table.ejsgrid div.pager div.shown
{
    float:left;
}

table.ejsgrid div.pager div.insert
{
    float:right;
}

table.ejsgrid div.pager div.pages
{
    text-align:center;
}

table.ejsgrid div.pager div.pages a
{
    display:inline-block;
    text-decoration:none;
    color:#333333;
    background-color:#F0F0F0;
    border:1px solid #C0C0C0;
    margin:0px 3px;
    padding:0px 3px;
    border-radius:3px;
}

table.ejsgrid div.pager div.pages a.selected
{
    background-color:#808080;
    color:white;
    font-weight:bold;
}

table.ejsgrid tr.foot td
{
    padding-top:0px!important;
    padding-bottom:0px!important;
    border-bottom:none!important;
    border-top:none!important;
}

.ejs-resizable-helper
{
    border:2px dotted yellow;
}

div.ejsgrid-menu
{
    position:absolute;
    background-color:#F0F0F0;
    border:1px solid #C0C0C0;
    display:none;
    padding:5px;
    border-radius:2px;
    z-index:10000;
    opacity:1;
}

div.ejsgrid-menu a.delete
{
    position:relative;
}

ul.ejsgrid-menu
{
    list-style-type:none;
    padding:0px;
    margin:0px;
    border:none;
}

ul.ejsgrid-menu li
{
    margin:2px 0px;
}

ul.ejsgrid-menu li input,
ul.ejsgrid-menu li label
{
    display:inline-block;
    vertical-align:middle;
    padding:0px;
    margin:0px;
}

ul.ejsgrid-menu li label
{
    margin-left:5px;
}

ul.ejsgrid-menu li.button
{
    float:right;
}


div.ejsgrid.beige a.filter
{
    background-image: url('images/ejs/beige-settings.png');
}

div.ejsgrid.beige a.check
{
    background-image: url('images/ejs/beige-check.png');
}

div.ejsgrid.beige a.cross
{
    background-image: url('images/ejs/beige-cross.png');
}

div.ejsgrid.beige a.icon.fa {
    padding:0px;
    font-size:16px;
}

div.ejsgrid.beige .fa {
    -moz-transform: none!important;
    -ms-transform: none!important;
    -o-transform: none!important;
    -webkit-transform: none!important;
    transform: none!important;
}

div.ejsgrid.beige table.ejsgrid tr:nth-child(odd).selected td,
div.ejsgrid.beige table.ejsgrid tr.selected td
{
    background-color:#e3e4de;
}

div.ejsgrid.beige table.ejsgrid div.pager {
    background-color:white;
}

div.ejsgrid.beige div.ejsgrid-header table {
    background:#d7d7d7;
}

div.ejsgrid.beige table th,
div.ejsgrid.beige table td {
    border-left:none;
    border-right:none;
}

div.ejsgrid.beige table.ejsgrid div.pager,
div.ejsgrid.beige div.ejsgrid-header table td {
    border:none;
}