@{
    ViewBag.Scripts = new List<string>();
    ViewBag.Title = "Стадии";
    ViewBag.Scripts.Add("~/Scripts/EntityJs/core.js");
    ViewBag.Scripts.Add("~/Scripts/EntityJs/entity.js");
    ViewBag.Scripts.Add("~/Scripts/EntityJs/set.js");
    ViewBag.Scripts.Add("~/Scripts/EntityJs/model.js");
    ViewBag.Scripts.Add("~/Scripts/EntityJs/pager.js");
    ViewBag.Scripts.Add("~/Scripts/jquery.kogrid.js");
    ViewBag.Scripts.Add("~/Scripts/Views/Helpers/WorkStages.js");
    ViewBag.Scripts.Add("~/Scripts/Views/Shared/LeftMenu.js");
}
<div id="actions">
    <div class="item">
        <a href="javascript:" data-bind="click: $root.create" class="icon big document-add">Добавить</a>
    </div>
    <div class="separator"></div>
    <div class="item">
        <a href="javascript:" data-bind="click: $root.remove, css: { disabled: !koModel.selectedArray().any() }" class="icon big delete" >Удалить</a>
    </div>
    <div class="separator"></div>
    <div class="item">
        <a href="javascript:" data-bind="click: $root.toExcel, css: { disabled: !koModel.workStages().any() }" class="icon big excel">Экспорт</a>
    </div>
    <div class="separator"></div>
    <div class="item">
        <a href="javascript:" data-bind="click: $root.updateAll, css: { disabled: !koModel.hasChanges() }" class="icon big save">Сохранить</a>
    </div>
    <div class="separator"></div>
</div>
@{
    Html.RenderPartial("LeftMenu");
}
<div class="box right-content" id="divRightContent">
    <div class="container">
        <form action="" data-bind="validate: true" onsubmit="return false;">
            <div class="scroll kogrid" id="divWorkStages">
                <div id="divWorkStagesHeader"></div>
                <table class="grid kogrid input-max input-transparent nowrap" id="tblWorkStages">
                    <thead>
                        <tr>
                            <th colname="Select">
                                <div class="th">&nbsp;</div>
                            </th>
                            <th colname="OrderNumber">
                                <div class="th"><span>Номер</span></div>
                            </th>
                            <th colname="CategoryID" sortpath="Category.Name">
                                <div class="th"><span>Категория</span></div>
                            </th>
                            <th colname="Name">
                                <div class="th"><span>Название</span></div>
                            </th>
                            <th colname="ShortName">
                                <div class="th"><span>Сокращенное</span></div>
                            </th>
                            <th colname="ManagerFee">
                                <div class="th"><span>Премия за строительство</span></div>
                            </th>
                            <th colname="Comments">
                                <div class="th"><span>Примечание</span></div>
                            </th>
                            <th colname="Save">
                                <div class="th">
                                    <a href="javascript:" class="icon small save" title="Сохранить размеры и положение колонок" data-bind="click: $root.grid.save, visible: !$root.grid.inProgress()"></a>
                                    <span class="loading" data-bind="visible: $root.grid.inProgress()"></span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody data-bind="template: { foreach: $root.grid.sorted, name: 'trWorkStage' }">
                        
                    </tbody>
                    <tfoot>
                        <tr data-bind="{ if: !$root.workStages().any() }">
                            <td colname="Select"></td>
                            <td colname="OrderNumber"></td>
                            <td colname="CategoryID"></td>
                            <td colname="Name"></td>
                            <td colname="ShortName"></td>
                            <td colname="ManagerFee"></td>
                            <td colname="Comments"></td>
                            <td colname="Save"></td>
                        </tr>
                    </tfoot>
                </table>
                <div class="separator"></div>
            </div>
        </form>
    </div>
</div>
<script type="text/html" id="trWorkStage">
    <tr data-bind="css: { selected: koModel.selectedArray().contains(id().toString()) }">
        <td colname="Select">
            <div class="td">
                <input type="checkbox" data-bind="value: id(), checked: koModel.selectedArray" />
            </div>
        </td>
        <td colname="OrderNumber">
            <div class="td">
                <input type="text" class="text-right" data-bind="value: orderNumber, numeric: true" precision="0"  />
            </div>
        </td>
        <td colname="CategoryID">
            <div class="td">
                <select data-bind="value: categoryID, options: $root.stageCategories(id()), optionsCaption: 'Выберите категорию...', optionsText: 'name', optionsValue: 'id'"></select>
            </div>
        </td>
        <td colname="Name">
            <div class="td">
                <input type="text" data-bind="value: name, uniqueName: true" class="required" />
            </div>
        </td>
        <td colname="ShortName">
            <div class="td">
                <input type="text" data-bind="value: shortName, uniqueName: true" class="required" />
            </div>
        </td>
        <td colname="ManagerFee">
            <div class="td">
                <input type="checkbox" data-bind="checked: managerFee, uniqueName: true" />
            </div>
        </td>
        <td colname="Comments">
            <div class="td">
                <textarea rows="2" data-bind="value: comments, html: comments"></textarea>
            </div>
        </td>
        <td colname="Save">
            <div class="td">
                <a href="javascript:" class="icon small delete" title="Удалить запись" data-bind="click: $root.remove"></a>
            </div>
        </td>
    </tr>
</script>
