@{
    ViewBag.Scripts = new List<string>();
    ViewBag.Title = "Начисления";
    ViewBag.Scripts.Add("~/Scripts/EntityJs/core.js");
    ViewBag.Scripts.Add("~/Scripts/EntityJs/entity.js");
    ViewBag.Scripts.Add("~/Scripts/EntityJs/set.js");
    ViewBag.Scripts.Add("~/Scripts/EntityJs/model.js");
    ViewBag.Scripts.Add("~/Scripts/EntityJs/pager.js");
    ViewBag.Scripts.Add("~/Scripts/EntityJs/grid.js");
    ViewBag.Scripts.Add("~/Scripts/EntityJs/crud.js");
    ViewBag.Scripts.Add("~/Scripts/Views/Payrolls/Index.js");
    ViewBag.Scripts.Add("~/Scripts/Views/Shared/LeftMenu.js");
    ViewBag.Styles = new string[]
    {
        "~/Content/ejs.grid.css"
    };
}
<div id="actions">
    <div class="item">
        <a href="javascript:" data-bind="click: $root.createPayroll" class="icon big document-add">Добавить</a>
    </div>
    <div class="separator"></div>
    <div class="item">
        <a href="javascript:" data-bind="click: $root.removeSelectedPayrolls, css: { disabled: !koModel.selectManyPayroll().any() }" class="icon big delete" >Удалить</a>
    </div>
    <div class="separator"></div>
    <div class="item">
        <a href="javascript:" data-bind="click: $root.payrollsCrud.export, css: { disabled: !koModel.payrolls().any() }" class="icon big excel">Экспорт</a>
    </div>
    <div class="separator"></div>
    <div class="item">
        <a href="javascript:" data-bind="click: $root.updateAll, css: { disabled: !koModel.hasChanges() }" class="icon big save">Сохранить</a>
    </div>
    <div class="separator"></div>
</div>
@{
    Html.RenderPartial("LeftMenu");
}
<div class="box right-content" id="divRightContent">
    <div class="excel-tabs-contianer">
        <ul class="tabs-iframe" data-bind="foreach: $root.months">
            <li class="tab" data-bind="css: { selected: koModel.filter.month() == id() }">
                <a href="javascript:" data-bind="html: name, click: function() { $root.filter.month(id()) }"></a>
            </li>
        </ul>
    </div>
    <div class="header"></div>
    
    <div class="container ejsgrid">
        <div class="tab-content">
            <div class="ejsgrid beige" id="divPayrolls"></div>
        </div>
    </div> 
</div>
