@{
    ViewBag.Scripts = new List<string>();
    ViewBag.Title = "Отчет по рабочему времени";
    ViewBag.Scripts.Add("~/Scripts/EntityJs/core.js");
    ViewBag.Scripts.Add("~/Scripts/EntityJs/entity.js");
    ViewBag.Scripts.Add("~/Scripts/EntityJs/set.js");
    ViewBag.Scripts.Add("~/Scripts/EntityJs/model.js");
    ViewBag.Scripts.Add("~/Scripts/EntityJs/pager.js");
    ViewBag.Scripts.Add("~/Scripts/jquery.kogrid.js");
    ViewBag.Scripts.Add("~/Scripts/Views/AllReports/WorkLogs.js");
    ViewBag.Scripts.Add("~/Scripts/Views/Shared/LeftMenu.js");
}
<div class="header">
    <div class="box">
        <span>Период:</span>
        <span class="ml25px">с</span>
        <input type="text" class="date" data-bind="value: $root.filter.dateFrom, datepicker: true"  />
        <span>по</span>
        <input type="text" class="date" data-bind="value: $root.filter.dateTo, datepicker: true" />
        <a href="javascript:" class="icon small calendar2" title="Выбрать месяц" data-bind="click: $root.selectMonth"></a>
        <input type="button" value="Показать" data-bind="click: $root.refresh" />
        <span class="loading" data-bind="visible: $root.inProgress"></span>

        <a class="icon medium excel text ml25px" data-bind="click: $root.toExcel" href="javascript:" >Экспорт</a>

    </div>
</div>
@{
    Html.RenderPartial("LeftMenu");
}
<div class="box right-content" id="divRightContent">
    <div class="container">
        <div class=" scroll kogrid" id="divWorkLogs">
            <div id="divWorkLogsHeader"></div>
            <table class="grid kogrid input-max input-transparent nowrap" id="tblWorkLogs">
                <thead>
                    <tr>
                        <th colname="Select" title="Столбец для выделения">
                            <div class="th">
                                <a href="javascript:" class="icon small filter" data-bind="click: function(){$root.filter.visible(!$root.filter.visible());}" title="Скрыть/показать область с фильтрами"></a>
                            </div>
                        </th>
                        <th colname="Number">
                            <div class="th">
                                <span>№</span>
                            </div>
                        </th>
                        <th colname="DepartmentName">
                            <div class="th">
                                <span>Отдел</span>
                            </div>
                        </th>
                        <th colname="ProjectName">
                            <div class="th">
                                <span>Проект</span>
                            </div>
                        </th>
                        <th colname="PositionName">
                            <div class="th">
                                <span>Должность</span>
                            </div>
                        </th>
                        <th colname="EmployeeName">
                            <div class="th">
                                <span>Сотрудник</span>
                            </div>
                        </th>
                        <th colname="UnitName">
                            <div class="th text-center">
                                <span>Ед. Измерения</span>
                            </div>
                        </th>
                        <th colname="PeriodCount">
                            <div class="th text-center">
                                <span>По проекту за период</span>
                            </div>
                        </th>
                        <th colname="TotalCount">
                            <div class="th text-center">
                                <span>По проекту всего</span>
                            </div>
                        </th>
                        <th colname="Save">
                            <div class="th">
                                <a href="javascript:" class="icon small save" title="Сохранить размер и положение колонок" data-bind="click: koModel.grid.save, visible: !koModel.grid.inProgress()"></a>
                                <span class="loading" data-bind="visible: koModel.grid.inProgress()"></span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody data-bind="visible: $root.filter.visible">
                    <tr class="details">
                        <td colspan="10">
                            <div class="three smaller">
                                <div class="col">
                                    <div class="box bGray scroll h100px">
                                        <div class="bold">Проекты</div>
                                        <ul data-bind="foreach: $root.projects().orderBy('val=>val.name')" class="ulNone nopadding nomargin">
                                            <li>
                                                <label>
                                                    <input type="checkbox" data-bind="value: id, checked: $root.filter.projects.ids" />
                                                    <span data-bind="html: name"></span>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="box bGray scroll h100px">
                                        <div class="bold">Отделы</div>
                                        <ul data-bind="foreach: $root.departments().orderBy('val=>val.name')" class="ulNone nopadding nomargin">
                                            <li>
                                                <label>
                                                    <input type="checkbox" data-bind="value: id, checked: $root.filter.departments.ids" />
                                                    <span data-bind="html: name"></span>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="box bGray scroll h100px">
                                        <div class="bold">Сотрудники</div>
                                        <ul data-bind="foreach: $root.employees().orderBy('val=>val.name')" class="ulNone nopadding nomargin">
                                            <li>
                                                <label>
                                                    <input type="checkbox" data-bind="value: id, checked: $root.filter.employees.ids" />
                                                    <span data-bind="html: name"></span>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody data-bind="template: { name: 'trWorkLog', foreach: $root.rows.filtered }"></tbody>
                <tfoot>
                    <tr data-bind="visible: !$root.rows.filtered().any()">
                        <td colspan="10">
                            <div class="text-center text-italic disabled large">
                                 В этом периоде нет записей по рабочему времени.
                            </div>
                        </td>
                    </tr>
                    <tr data-bind="{ if: !$root.rows.filtered().any() }">
                        <td colname="Select"></td>
                        <td colname="Number"></td>
                        <td colname="DepartmentName"></td>
                        <td colname="ProjectName"></td>
                        <td colname="PositionName"></td>
                        <td colname="EmployeeName"></td>
                        <td colname="UnitName"></td>
                        <td colname="PeriodCount"></td>
                        <td colname="TotalCount"></td>
                        <td colname="Save"></td>
                    </tr>                    
                    <tr data-bind="visible: $root.selectedArray().any()">
                        <td colspan="10" class="pager-container">
                            <div class="toRight">
                                <div class="box-float">
                                    <div class="toLeft w150px text-left">Выделено за период:</div>
                                    <div class="toRight w100px bold" data-bind="text: $root.rows.selectedTotal().count"></div>
                                </div>
                                <div class="box-float">
                                    <div class="toLeft w150px text-left">Выделено по проектам:</div>
                                    <div class="toRight w100px bold" data-bind="text: $root.rows.selectedTotal().countTotal"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    @*<tr>
                        <td colspan="10" class="pager-container">
                            <div class="toRight">
                                <div class="box-float">
                                    <div class="toLeft w150px text-left">Итого за период:</div>
                                    <div class="toRight w100px bold" data-bind="text: $root.rows.filtered().sum('val=>val.count*1') * 1"></div>
                                </div>
                                <div class="box-float">
                                    <div class="toLeft w150px text-left">Итого по проектам:</div>
                                    <div class="toRight w100px bold" data-bind="text: $root.rows.filtered().sum('val=>val.countTotal*1') * 1"></div>
                                </div>
                            </div>
                        </td>
                    </tr>*@
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script type="text/html" id="trWorkLog">
    <tr data-bind="css: { selected: $root.selectedArray().contains(id.toString()) }">
        <td colname="Select">
            <div class="td">
                <input type="checkbox" data-bind="value: id, checked: $root.selectedArray" />
            </div>
        </td>
        <td colname="Number">
            <div class="td text-center">
                <span data-bind="text: $index() + 1"></span>
            </div>
        </td>
        <td colname="DepartmentName">
            <div class="td">
                <span data-bind="text: departmentName"></span>
            </div>
        </td>
        <td colname="ProjectName">
            <div class="td">
                <a data-bind="html: projectName, attr: { href: ApplicationRootPath + 'Project/Index/' + projectID }"></a>
            </div>
        </td>
        <td colname="PositionName">
            <div class="td">
                <span data-bind="text: positionName"></span>
            </div>
        </td>
        <td colname="EmployeeName">
            <div class="td">
                <span data-bind="text: employeeName"></span>
            </div>
        </td>
        <td colname="UnitName">
            <div class="td text-center">
                <span data-bind="text: unitName"></span>
            </div>
        </td>
        <td colname="PeriodCount">
            <div class="td text-center">
                <span data-bind="text: count"></span>
            </div>
        </td>
        <td colname="TotalCount">
            <div class="td text-center">
                <span data-bind="text: countTotal"></span>
            </div>
        </td>
        <td colname="Save">
            <div class="td">
            </div>
        </td>
    </tr>
</script>
<div id="divMonths" title="Выбор периода">
    <div class="box">
        <table class="adjuster">
            <thead>
                <tr>
                    <th>
                        <span>Год:</span>
                    </th>
                    <td>
                        <select data-bind="options: $root.years, optionsText: 'name', optionsValue: 'id', value: $root.year" class="w100px"></select>
                    </td>
                </tr>
            </thead>
            <tbody data-bind="foreach: $root.months">
                <tr>
                    <th>
                        <input type="radio" name="Month" data-bind="value: id, attr: { id: 'rbtMonth' + id }, checked: $root.month" />
                    </th>
                    <td>
                        <label data-bind="html: name, attr: { 'for': 'rbtMonth' + id }"></label>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <td>
                        <div class="h10px"></div>
                        <input type="button" value="Выбрать" data-bind="click: confirmMonth" />
                        <input type="button" value="Отмена" data-bind="click: cancelMonth" />
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>